* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif; }

::-moz-selection {
  color: #fff;
  background: gold; }

::selection {
  color: #fff;
  background: gold; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-track {
  background: #e9e9e9; }

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 5px; }
  ::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6; }
