@import '../variables'

@import './video'

.videos
    margin: $gutter 0
    justify-content: center
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-auto-rows: 300px
    gap: $gutter
